:root {
    --ui-global-color: #333;
    --ui-search-color: #444;
    --ui-search-background-color: #fafafa;
    --ui-search-border-color: #ececec;
    --ui-search-placeholder-color: #b8b8b8;
    --ui-color-grey: #dedede;
    --color-white: #ffffff;
    --color-grey-dark: #9c9c9c;
    --color-accent: #365edc;
    --color-accent-light: #586fbf;
}

$globalColor: var(--ui-global-color);
$grey: var(--ui-color-grey);
$greyDark: var(--color-grey-dark);
$white: var(--color-white);
$accent: var(--color-accent);
$accentLight: var(--color-accent-light);

$searchColor: var(--ui-search-color);
$searchBGColor: var(--ui-search-background-color);
$searchBorderColor: var(--ui-search-border-color);
$searchPlColor: var(--ui-search-placeholder-color);